# Step 3. Fill the missing values and prepare a better dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("../input/clean_train.csv")
test = pd.read_csv("../input/test.csv")
all_data = [train, test]
print("Train shape: ", train.shape)
print("Test shape: ", test.shape)

Train shape:  (881, 12)
Test shape:  (418, 11)

In [4]:
age_train = pd.read_csv("../input/train_values/age.csv")
cabin_train = pd.read_csv("../input/train_values/cabin.csv")
embarked_train = pd.read_csv("../input/train_values/embarked.csv")
family_size_train = pd.read_csv("../input/train_values/family_size.csv")
name_train = pd.read_csv("../input/train_values/name.csv")
ticket_train = pd.read_csv("../input/train_values/ticket.csv")
age_test = pd.read_csv("../input/test_values/age.csv")
cabin_test = pd.read_csv("../input/test_values/cabin.csv")
family_size_test = pd.read_csv("../input/test_values/family_size.csv")
name_test = pd.read_csv("../input/test_values/name.csv")
print("Age train shape: ", age_train.shape)
print("Cabin train shape: ", cabin_train.shape)
print("Embarked train shape: ", embarked_train.shape)
print("Family_size train shape: ", family_size_train.shape)
print("Name train shape: ", name_train.shape)
print("Ticket train shape: ", ticket_train.shape)
print("Age test shape: ", age_test.shape)
print("Cabin test shape: ", cabin_test.shape)
print("Family_size test shape: ", family_size_test.shape)
print("Name test shape: ", name_test.shape)

Age train shape:  (881, 1)
Cabin train shape:  (881, 1)
Embarked train shape:  (881, 1)
Family_size train shape:  (881, 1)
Name train shape:  (881, 1)
Ticket train shape:  (881, 1)
Age test shape:  (418, 1)
Cabin test shape:  (418, 1)
Family_size test shape:  (418, 1)
Name test shape:  (418, 1)

## Make sure the data is correct

In [5]:
print("Age null values: ", age_train.isnull().sum(), age_test.isnull().sum())
print("Cabin null values: ", cabin_train.isnull().sum(), cabin_test.isnull().sum())
print("Embarked null values: ", embarked_train.isnull().sum())
print("Family_size null values: ", family_size_train.isnull().sum(), family_size_test.isnull().sum())
print("Name null values: ", name_train.isnull().sum(), name_test.isnull().sum())
print("Ticket null values: ", ticket_train.isnull().sum())

Age null values:  Age    0
dtype: int64 Age    0
dtype: int64
Cabin null values:  Cabin    0
dtype: int64 Cabin    0
dtype: int64
Embarked null values:  Embarked    0
dtype: int64
Family_size null values:  Fsize    0
dtype: int64 Fsize    0
dtype: int64
Name null values:  Category    0
dtype: int64 Category    0
dtype: int64
Ticket null values:  Ticket    0
dtype: int64

## Replace the train columns

In [6]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [7]:
train["Name"] = name_train
train["Age"] = age_train
train["Ticket"] = ticket_train
train["Cabin"] = cabin_train
train["Embarked"] = embarked_train
train["Fsize"] = family_size_train

test["Name"] = name_test
test["Age"] = age_test
test["Cabin"] = cabin_test
test["Fsize"] = family_size_test

In [8]:
try:
    train.drop(["PassengerId"], axis=1, inplace=True)
except:
    print("Column already removed")

try:
    train.drop(["Ticket"], axis=1, inplace=True)
except:
    print("Column already removed")

try:
    test.drop(["PassengerId"], axis=1, inplace=True)
except:
    print("Column already removed")

try:
    test.drop(["Ticket"], axis=1, inplace=True)
except:
    print("Column already removed")

In [9]:
print(train.isnull().sum())
print(train.shape)

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
Fsize       0
dtype: int64
(881, 11)

In [10]:
print(test.isnull().sum())
print(test.shape)

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Cabin       0
Embarked    0
Fsize       0
dtype: int64
(418, 10)

There still is one missing value in the test set!

## Fill the missing value in test dataset

In [19]:
first_class= test.query("Pclass == 1")
second_class= test.query("Pclass == 2")
third_class= test.query("Pclass == 3")
first_class_mean = first_class["Fare"].mean()
second_class_mean = second_class["Fare"].mean()
third_class_mean = third_class["Fare"].mean()
print(first_class_mean, second_class_mean, third_class_mean)

94.28029719626169 22.20210430107527 12.459677880184334

In [14]:
test[test['Fare'].isnull()].index.tolist()

[152]

In [16]:
test.iloc[152]

Pclass         3
Name         Man
Sex         male
Age         60.5
SibSp          0
Parch          0
Fare         NaN
Cabin          X
Embarked       S
Fsize          1
Name: 152, dtype: object

The passenger that we are looking for is in 3rd class

In [20]:
test["Fare"].fillna(value= third_class_mean, inplace= True)

In [21]:
print(test.isnull().sum())
print(test.shape)

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
Fsize       0
dtype: int64
(418, 10)

## Export data

In [23]:
train.to_csv("../input/filled_train.csv", index=False)

In [22]:
test.to_csv("../input/filled_test.csv", index=False)